@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #6a6e77;
  line-height: 1;
  font-family: Quicksand;
  font-size: 1.5625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Quicksand;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  left: 2.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: .3125rem;
  height: .3125rem;
  flex: 0 0 .3125rem;
  background-color: #1c1f25;
  opacity: .2;
  transition: opacity .4s ease-in-out 0s;
  box-shadow: 0 .0625rem .0625rem 0 #fff
}
.fp-bullets .fp-bullet-active {
  opacity: 1
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header-block__label {
  line-height: 1.24
}
.header-block__label--light {
  color: #e3e6ec
}
.header-block__title {
  color: #1c1f25;
  font-weight: 700;
  line-height: 1.25;
  max-width: 29.1875rem
}
.header-block__title--light {
  color: #fff
}
.header-block__title--big {
  max-width: 55.3125rem
}
.screen-01__container {
  min-height: 100%;
  display: flex
}
.screen-01__body {
  flex-grow: 1;
  position: relative
}
.screen-01__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c1f25;
  opacity: .6;
  top: 0;
  left: 0
}
.screen-01__header-block {
  position: relative;
  z-index: 1
}
.screen-01__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.screen-02__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem
}
.screen-02__text {
  font-size: 1.5625rem;
  line-height: 1.8
}
.screen-02__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.screen-02__image {
  flex: 0 1 50%
}
.screen-02__image img {
  max-width: 100%
}
.screen-03__container {
  display: flex;
  min-height: 100%;
  flex-direction: row-reverse;
  gap: 1.875rem
}
.screen-03__content {
  align-self: center;
  flex: 0 1 50%;
  padding-bottom: 1.25rem;
  padding-top: 3.75rem
}
.screen-03__image {
  position: relative;
  flex: 0 1 50%
}
.screen-03__image img {
  max-width: 100%
}
.values-screen-03__item {
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
  gap: .9375rem
}
.values-screen-03__label {
  font-size: 1.5625rem;
  line-height: 1.24
}
.values-screen-03__value {
  color: #1c1f25;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.24;
  text-align: right
}
.values-screen-03__line {
  height: .625rem;
  background-color: rgba(28,31,37,.1);
  grid-column: span 2;
  position: relative
}
.values-screen-03__line span {
  background-color: #1c1f25;
  position: absolute;
  height: 100%
}
.screen-04__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3.125rem;
  padding-bottom: 1.25rem
}
.advantages {
  display: flex;
  gap: 3.1875rem;
  flex-wrap: wrap;
  justify-content: space-around
}
.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 1.625rem
}
.advantages__icon {
  height: 3rem;
  flex: 0 0 3rem;
  align-self: flex-start
}
.advantages__icon img {
  max-width: 100%
}
.advantages__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2666666667;
  color: #1c1f25
}
.advantages__title:not(:last-child) {
  margin-bottom: .5rem
}
.advantages__text {
  font-size: 1.5625rem;
  line-height: 1.8
}
.advantages__text p:not(:last-child) {
  margin-bottom: .3125rem
}
.screen-05__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem
}
.screen-05__text {
  font-size: 1.5625rem;
  line-height: 1.8
}
.screen-05__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.screen-05__images {
  flex: 0 1 50%;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  align-self: center;
  justify-content: center
}
.screen-05__image-ibg img {
  position: relative;
  max-width: 100%;
  height: auto;
  width: auto
}
.screen-06__container {
  min-height: 100%;
  display: flex;
  gap: 1.875rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem
}
.screen-06__header-block {
  flex: 0 1 50%
}
.screen-06__services {
  flex: 0 1 50%
}
.services__item {
  display: flex
}
.services__icon {
  height: 3.75rem;
  flex: 0 0 3.75rem;
  justify-self: flex-start;
  align-self: flex-start
}
.services__icon img {
  max-width: 100%
}
.services__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2666666667;
  color: #1c1f25
}
.services__text {
  line-height: 1.8
}
.screen-07__container {
  display: flex;
  min-height: 100%;
  gap: 1.875rem
}
.screen-07__services {
  align-self: center;
  flex: 0 1 50%;
  padding-bottom: 1.25rem;
  padding-top: 3.75rem
}
.screen-07__image {
  position: relative;
  flex: 0 1 50%
}
.screen-07__image img {
  max-width: 100%
}
.screen-08__container {
  display: flex;
  min-height: 100%;
  row-gap: 1.875rem;
  flex-direction: row-reverse
}
.screen-08__content {
  align-self: center;
  flex: 0 1 50%;
  padding-bottom: 1.25rem;
  padding-top: 3.75rem
}
.screen-08__image {
  position: relative;
  flex: 0 1 50%
}
.screen-08__image img {
  max-width: 100%
}
.progress-screen-08 {
  display: flex
}
.progress-screen-08__value {
  font-weight: 700;
  line-height: 1.25;
  color: #1c1f25
}
.screen-09__container {
  min-height: 100%;
  display: flex
}
.screen-09__body {
  flex-grow: 1;
  position: relative
}
.screen-09__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c1f25;
  opacity: .6;
  top: 0;
  left: 0
}
.screen-09__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center
}
.screen-09__item {
  color: #e3e6ec;
  text-align: center
}
.screen-09__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.item-screen-09__value {
  line-height: 1.25;
  font-weight: 700
}
.item-screen-09__label {
  line-height: 1.24
}
.page {
  counter-reset: item
}
.page__section::after {
  counter-increment: item;
  content: counter(item,decimal-leading-zero);
  color: #e3e6ec;
  font-weight: 700;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%)
}
@media (min-width:47.99875em) {
  .screen-01__container {
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
  }
  .screen-02__container {
    min-height: 100%;
    display: flex;
    align-items: flex-start
  }
  .screen-02__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem
  }
  .screen-03__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .screen-04__container {
    justify-content: center
  }
  .screen-07__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .screen-08__content {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .screen-08__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .screen-09__container {
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
  }
}
@media (min-width:47.99875em) and (min-width:120em) {
  .screen-03__image {
    left: -15rem
  }
  .screen-07__image {
    left: 15rem
  }
}
@media (min-width:61.99875em) {
  .screen-02__text {
    max-width: 33.25rem
  }
  .screen-05__container {
    min-height: 100%;
    display: flex;
    gap: 1.875rem
  }
  .screen-05__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem
  }
  .screen-05__text {
    max-width: 33.25rem
  }
  .services__icon {
    margin-top: 2.375rem
  }
}
@media (min-width:120em) {
  body {
    font-size: 1.5625rem
  }
  [class*=__container] {
    padding-left: 15rem
  }
  [class*=__container] {
    padding-right: 15rem
  }
  .header-block__label:not(:last-child) {
    margin-bottom: 2rem
  }
  .header-block__title {
    font-size: 3.75rem
  }
  .header-block__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .screen-01__body {
    padding-top: 9.6875rem
  }
  .screen-01__body {
    padding-bottom: 9.6875rem
  }
  .screen-01__body {
    padding-left: 15rem
  }
  .screen-01__body {
    padding-right: 15rem
  }
  .screen-02__text {
    margin-top: 8.25rem
  }
  .screen-03__values {
    margin-top: 7.5rem
  }
  .values-screen-03__item:not(:last-child) {
    margin-bottom: 4.75rem
  }
  .screen-04__header-block:not(:last-child) {
    margin-bottom: 9.5625rem
  }
  .advantages__item {
    max-width: 27.0625rem
  }
  .screen-05__text {
    margin-top: 8.25rem
  }
  .services__item {
    gap: 3.1875rem
  }
  .services__item:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .screen-08__container {
    -webkit-column-gap: 15rem;
    -moz-column-gap: 15rem;
    column-gap: 15rem
  }
  .screen-08__header-block:not(:last-child) {
    margin-bottom: 11.875rem
  }
  .progress-screen-08 {
    gap: 5.4375rem
  }
  .progress-screen-08__value {
    font-size: 3.75rem
  }
  .screen-09__body {
    padding-top: 15.4375rem
  }
  .screen-09__body {
    padding-bottom: 15.4375rem
  }
  .screen-09__body {
    padding-left: 8.75rem
  }
  .screen-09__body {
    padding-right: 8.75rem
  }
  .screen-09__content {
    -webkit-column-gap: 11.25rem;
    -moz-column-gap: 11.25rem;
    column-gap: 11.25rem
  }
  .item-screen-09__value {
    font-size: 3.75rem
  }
  .page__section::after {
    font-size: 3.75rem
  }
  .page__section::after {
    right: 7.5rem
  }
}
@media (max-width:30em) {
  .fp-bullets {
    right: 7.5rem
  }
}
@media (max-width:20em) {
  body {
    font-size: 1.125rem
  }
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
  .header-block__label:not(:last-child) {
    margin-bottom: 1rem
  }
  .header-block__title {
    font-size: 2.1875rem
  }
  .header-block__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .screen-01__body {
    padding-top: 3.125rem
  }
  .screen-01__body {
    padding-bottom: 3.125rem
  }
  .screen-01__body {
    padding-left: .9375rem
  }
  .screen-01__body {
    padding-right: .9375rem
  }
  .screen-02__text {
    margin-top: 1.25rem
  }
  .screen-03__values {
    margin-top: 1.875rem
  }
  .values-screen-03__item:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .screen-04__header-block:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .screen-05__text {
    margin-top: 1.25rem
  }
  .services__item {
    gap: 1.25rem
  }
  .services__item:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .screen-08__header-block:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .progress-screen-08 {
    gap: 1.875rem
  }
  .progress-screen-08__value {
    font-size: 1.875rem
  }
  .screen-09__body {
    padding-top: 3.125rem
  }
  .screen-09__body {
    padding-bottom: 3.125rem
  }
  .screen-09__body {
    padding-left: .9375rem
  }
  .screen-09__body {
    padding-right: .9375rem
  }
  .screen-09__content {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .item-screen-09__value {
    font-size: 1.875rem
  }
  .page__section::after {
    font-size: 1.5625rem
  }
  .page__section::after {
    right: .46875rem
  }
}
@media (max-width:61.99875em) and (max-width:20em) {
  .screen-05__image-ibg {
    margin-left: -.9375rem
  }
  .screen-05__image-ibg {
    margin-right: -.9375rem
  }
}
@media (max-width:61.99875em) {
  .screen-06__container {
    flex-direction: column;
    align-items: flex-start
  }
}
@media (max-width:47.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    flex-direction: row;
    right: 50%
  }
  .screen-01__container {
    padding-left: 0;
    padding-right: 0
  }
  .screen-01__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column
  }
  .screen-03__container {
    flex-direction: column
  }
  .screen-07__container {
    flex-direction: column
  }
  .screen-08__container {
    flex-direction: column
  }
  .screen-09__container {
    padding-left: 0;
    padding-right: 0
  }
  .screen-09__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column
  }
  .page__section::after {
    top: 1.875rem;
    right: 50%
  }
}
@media (max-width:47.99875em) and (max-width:20em) {
  .screen-03__image {
    margin-left: -.9375rem
  }
  .screen-03__image {
    margin-right: -.9375rem
  }
  .screen-07__image {
    margin-left: -.9375rem
  }
  .screen-07__image {
    margin-right: -.9375rem
  }
  .screen-08__image {
    margin-left: -.9375rem
  }
  .screen-08__image {
    margin-right: -.9375rem
  }
}
@media (max-width:29.99875em) {
  .services__item {
    flex-direction: column
  }
}
@media (min-width:20em) and (max-width:120em) {
  @supports (font-size:clamp(1.125rem ,1.0375rem + 0.4375vw ,1.5625rem)) {
    body {
      font-size: clamp(1.125rem ,1.0375rem + .4375vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0375rem + 0.4375vw ,1.5625rem)) {
    body {
      font-size: calc(1.125rem + .4375 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    [class*=__container] {
      padding-left: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    [class*=__container] {
      padding-left: calc(.9375rem + 14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    [class*=__container] {
      padding-right: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    [class*=__container] {
      padding-right: calc(.9375rem + 14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-bottom:clamp(1rem ,0.8rem + 1vw ,2rem)) {
    .header-block__label:not(:last-child) {
      margin-bottom: clamp(1rem ,.8rem + 1vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(1rem ,0.8rem + 1vw ,2rem)) {
    .header-block__label:not(:last-child) {
      margin-bottom: calc(1rem + 1 * (100vw - 20rem)/ 100)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.875rem + 1.5625vw ,3.75rem)) {
    .header-block__title {
      font-size: clamp(2.1875rem ,1.875rem + 1.5625vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.875rem + 1.5625vw ,3.75rem)) {
    .header-block__title {
      font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-bottom:clamp(1rem ,0.8rem + 1vw ,2rem)) {
    .header-block__title:not(:last-child) {
      margin-bottom: clamp(1rem ,.8rem + 1vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(1rem ,0.8rem + 1vw ,2rem)) {
    .header-block__title:not(:last-child) {
      margin-bottom: calc(1rem + 1 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.8125rem + 6.5625vw ,9.6875rem)) {
    .screen-01__body {
      padding-top: clamp(3.125rem ,1.8125rem + 6.5625vw ,9.6875rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.8125rem + 6.5625vw ,9.6875rem)) {
    .screen-01__body {
      padding-top: calc(3.125rem + 6.5625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,1.8125rem + 6.5625vw ,9.6875rem)) {
    .screen-01__body {
      padding-bottom: clamp(3.125rem ,1.8125rem + 6.5625vw ,9.6875rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.8125rem + 6.5625vw ,9.6875rem)) {
    .screen-01__body {
      padding-bottom: calc(3.125rem + 6.5625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    .screen-01__body {
      padding-left: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    .screen-01__body {
      padding-left: calc(.9375rem + 14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    .screen-01__body {
      padding-right: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    .screen-01__body {
      padding-right: calc(.9375rem + 14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-top:clamp(1.25rem ,-0.15rem + 7vw ,8.25rem)) {
    .screen-02__text {
      margin-top: clamp(1.25rem ,-.15rem + 7vw ,8.25rem)
    }
  }
  @supports not (margin-top:clamp(1.25rem ,-0.15rem + 7vw ,8.25rem)) {
    .screen-02__text {
      margin-top: calc(1.25rem + 7 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-top:clamp(1.875rem ,0.75rem + 5.625vw ,7.5rem)) {
    .screen-03__values {
      margin-top: clamp(1.875rem ,.75rem + 5.625vw ,7.5rem)
    }
  }
  @supports not (margin-top:clamp(1.875rem ,0.75rem + 5.625vw ,7.5rem)) {
    .screen-03__values {
      margin-top: calc(1.875rem + 5.625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.55rem + 3.5vw ,4.75rem)) {
    .values-screen-03__item:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.55rem + 3.5vw ,4.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.55rem + 3.5vw ,4.75rem)) {
    .values-screen-03__item:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.5 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,0.3375rem + 7.6875vw ,9.5625rem)) {
    .screen-04__header-block:not(:last-child) {
      margin-bottom: clamp(1.875rem ,.3375rem + 7.6875vw ,9.5625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,0.3375rem + 7.6875vw ,9.5625rem)) {
    .screen-04__header-block:not(:last-child) {
      margin-bottom: calc(1.875rem + 7.6875 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-top:clamp(1.25rem ,-0.15rem + 7vw ,8.25rem)) {
    .screen-05__text {
      margin-top: clamp(1.25rem ,-.15rem + 7vw ,8.25rem)
    }
  }
  @supports not (margin-top:clamp(1.25rem ,-0.15rem + 7vw ,8.25rem)) {
    .screen-05__text {
      margin-top: calc(1.25rem + 7 * (100vw - 20rem)/ 100)
    }
  }
  @supports (gap:clamp(1.25rem ,0.8625rem + 1.9375vw ,3.1875rem)) {
    .services__item {
      gap: clamp(1.25rem ,.8625rem + 1.9375vw ,3.1875rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.8625rem + 1.9375vw ,3.1875rem)) {
    .services__item {
      gap: calc(1.25rem + 1.9375 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)) {
    .services__item:not(:last-child) {
      margin-bottom: clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)) {
    .services__item:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-bottom:clamp(1rem ,0.8rem + 1vw ,2rem)) {
    .services__title:not(:last-child) {
      margin-bottom: clamp(1rem ,.8rem + 1vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(1rem ,0.8rem + 1vw ,2rem)) {
    .services__title:not(:last-child) {
      margin-bottom: calc(1rem + 1 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.625rem + 9.375vw ,11.875rem)) {
    .screen-08__header-block:not(:last-child) {
      margin-bottom: clamp(2.5rem ,.625rem + 9.375vw ,11.875rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.625rem + 9.375vw ,11.875rem)) {
    .screen-08__header-block:not(:last-child) {
      margin-bottom: calc(2.5rem + 9.375 * (100vw - 20rem)/ 100)
    }
  }
  @supports (gap:clamp(1.875rem ,1.1625rem + 3.5625vw ,5.4375rem)) {
    .progress-screen-08 {
      gap: clamp(1.875rem ,1.1625rem + 3.5625vw ,5.4375rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,1.1625rem + 3.5625vw ,5.4375rem)) {
    .progress-screen-08 {
      gap: calc(1.875rem + 3.5625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)) {
    .progress-screen-08__value {
      font-size: clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)) {
    .progress-screen-08__value {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-top:clamp(3.125rem ,0.6625rem + 12.3125vw ,15.4375rem)) {
    .screen-09__body {
      padding-top: clamp(3.125rem ,.6625rem + 12.3125vw ,15.4375rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,0.6625rem + 12.3125vw ,15.4375rem)) {
    .screen-09__body {
      padding-top: calc(3.125rem + 12.3125 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,0.6625rem + 12.3125vw ,15.4375rem)) {
    .screen-09__body {
      padding-bottom: clamp(3.125rem ,.6625rem + 12.3125vw ,15.4375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,0.6625rem + 12.3125vw ,15.4375rem)) {
    .screen-09__body {
      padding-bottom: calc(3.125rem + 12.3125 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,-0.625rem + 7.8125vw ,8.75rem)) {
    .screen-09__body {
      padding-left: clamp(.9375rem ,-.625rem + 7.8125vw ,8.75rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-0.625rem + 7.8125vw ,8.75rem)) {
    .screen-09__body {
      padding-left: calc(.9375rem + 7.8125 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,-0.625rem + 7.8125vw ,8.75rem)) {
    .screen-09__body {
      padding-right: clamp(.9375rem ,-.625rem + 7.8125vw ,8.75rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,-0.625rem + 7.8125vw ,8.75rem)) {
    .screen-09__body {
      padding-right: calc(.9375rem + 7.8125 * (100vw - 20rem)/ 100)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,0.0000000625rem + 9.375vw ,11.25rem)) or (column-gap:clamp(1.875rem ,0.0000000625rem + 9.375vw ,11.25rem))) {
    .screen-09__content {
      -webkit-column-gap: clamp(1.875rem ,.0000000625rem + 9.375vw ,11.25rem);
      -moz-column-gap: clamp(1.875rem ,.0000000625rem + 9.375vw ,11.25rem);
      column-gap: clamp(1.875rem ,.0000000625rem + 9.375vw ,11.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,0.0000000625rem + 9.375vw ,11.25rem)) or (column-gap:clamp(1.875rem ,0.0000000625rem + 9.375vw ,11.25rem))) {
    .screen-09__content {
      -webkit-column-gap: calc(1.875rem + 9.375 * (100vw - 20rem)/ 100);
      -moz-column-gap: calc(1.875rem + 9.375 * (100vw - 20rem)/ 100);
      column-gap: calc(1.875rem + 9.375 * (100vw - 20rem)/ 100)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)) {
    .item-screen-09__value {
      font-size: clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)) {
    .item-screen-09__value {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem)/ 100)
    }
  }
  @supports (font-size:clamp(1.5625rem ,1.125rem + 2.1875vw ,3.75rem)) {
    .page__section::after {
      font-size: clamp(1.5625rem ,1.125rem + 2.1875vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,1.125rem + 2.1875vw ,3.75rem)) {
    .page__section::after {
      font-size: calc(1.5625rem + 2.1875 * (100vw - 20rem)/ 100)
    }
  }
  @supports (right:clamp(0.46875rem ,-0.9375rem + 7.03125vw ,7.5rem)) {
    .page__section::after {
      right: clamp(.46875rem ,-.9375rem + 7.03125vw ,7.5rem)
    }
  }
  @supports not (right:clamp(0.46875rem ,-0.9375rem + 7.03125vw ,7.5rem)) {
    .page__section::after {
      right: calc(.46875rem + 7.03125 * (100vw - 20rem)/ 100)
    }
  }
}
@media (max-width:47.99875em) and (min-width:120em) {
  .screen-03__image {
    margin-left: -15rem
  }
  .screen-03__image {
    margin-right: -15rem
  }
  .screen-07__image {
    margin-left: -15rem
  }
  .screen-07__image {
    margin-right: -15rem
  }
  .screen-08__image {
    margin-left: -15rem
  }
  .screen-08__image {
    margin-right: -15rem
  }
}
@media (max-width:47.99875em) and (min-width:20em) and (max-width:120em) {
  @supports (margin-left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-03__image {
      margin-left: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (margin-left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-03__image {
      margin-left: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-right:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-03__image {
      margin-right: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (margin-right:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-03__image {
      margin-right: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-07__image {
      margin-left: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (margin-left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-07__image {
      margin-left: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-right:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-07__image {
      margin-right: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (margin-right:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-07__image {
      margin-right: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-08__image {
      margin-left: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (margin-left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-08__image {
      margin-left: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-right:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-08__image {
      margin-right: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (margin-right:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-08__image {
      margin-right: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
}
@media (min-width:47.99875em) and (min-width:20em) and (max-width:120em) {
  @supports (left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-03__image {
      left: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-03__image {
      left: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (left:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    .screen-07__image {
      left: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
    }
  }
  @supports not (left:clamp(0.9375rem ,-1.875rem + 14.0625vw ,15rem)) {
    .screen-07__image {
      left: calc(.9375rem + 14.0625 * (100vw - 20rem)/ 100)
    }
  }
}
@media (min-width:47.99875em) and (max-width:20em) {
  .screen-03__image {
    left: -.9375rem
  }
  .screen-07__image {
    left: .9375rem
  }
}
@media (min-width:48em) and (max-width:120em) {
  @supports (max-width:clamp(17.5rem ,11.125rem + 13.28125vw ,27.0625rem)) {
    .advantages__item {
      max-width: clamp(17.5rem ,11.125rem + 13.28125vw ,27.0625rem)
    }
  }
  @supports not (max-width:clamp(17.5rem ,11.125rem + 13.28125vw ,27.0625rem)) {
    .advantages__item {
      max-width: calc(17.5rem + 9.5625 * (100vw - 48rem)/ 72)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,-6.875rem + 18.2291666667vw ,15rem)) or (column-gap:clamp(1.875rem ,-6.875rem + 18.2291666667vw ,15rem))) {
    .screen-08__container {
      -webkit-column-gap: clamp(1.875rem ,-6.875rem + 18.2291666667vw ,15rem);
      -moz-column-gap: clamp(1.875rem ,-6.875rem + 18.2291666667vw ,15rem);
      column-gap: clamp(1.875rem ,-6.875rem + 18.2291666667vw ,15rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,-6.875rem + 18.2291666667vw ,15rem)) or (column-gap:clamp(1.875rem ,-6.875rem + 18.2291666667vw ,15rem))) {
    .screen-08__container {
      -webkit-column-gap: calc(1.875rem + 13.125 * (100vw - 48rem)/ 72);
      -moz-column-gap: calc(1.875rem + 13.125 * (100vw - 48rem)/ 72);
      column-gap: calc(1.875rem + 13.125 * (100vw - 48rem)/ 72)
    }
  }
}
@media (max-width:61.99875em) and (min-width:120em) {
  .screen-05__image-ibg {
    margin-left: -15rem
  }
  .screen-05__image-ibg {
    margin-right: -15rem
  }
}
@media (max-width:61.99875em) and (min-width:20em) and (max-width:120em) {
  @supports (margin-left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-05__image-ibg {
      margin-left: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (margin-left:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-05__image-ibg {
      margin-left: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (margin-right:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-05__image-ibg {
      margin-right: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
    }
  }
  @supports not (margin-right:clamp(-15rem ,1.875rem + -14.0625vw ,-0.9375rem)) {
    .screen-05__image-ibg {
      margin-right: calc(-.9375rem + -14.0625 * (100vw - 20rem)/ 100)
    }
  }
}
@media (any-hover:hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1
  }
}